<md-toolbar layout="row" layout-align="center center" ng-controller="NavbarCtrl">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="settings" ui-sref="home">
      <md-icon md-svg-icon="assets/images/ic_menu_24px.svg"></md-icon>
    </md-button>
     <h2>
       <span>Maoni</span>
     </h2>
    <span flex></span>

    <md-menu ng-if="navbarCtrl.user">
      <md-button aria-label="Open phone interactions menu" class="md-fab" ng-click="$mdOpenMenu()" >
        <md-icon md-svg-icon="assets/images/icons/ic_person_24px.svg"></md-icon>
      </md-button>
      <md-menu-content width="2">
        <md-menu-item>
          <md-button ui-sref="userprofile">
            view/edit profile
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ui-sref="logout">logout</md-button>
        </md-menu-item>
        <!--<md-menu-divider></md-menu-divider>-->

      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
