<md-toolbar layout="row" layout-align="center center" ng-controller="NavbarCtrl">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="settings" ui-sref="home">
      <md-icon md-svg-icon="assets/images/ic_menu_24px.svg"></md-icon>
       Foraay
    </md-button>
    <span flex></span>

      <md-menu ng-if="navbarCtrl.user">
        <md-button aria-label="Open phone interactions menu" class="" ng-click="$mdOpenMenu()" ng-bind="navbarCtrl.user.fullname">
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ui-sref="logout">view and edit profile</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ui-sref="logout">logout</md-button>
          </md-menu-item>
          <!--<md-menu-divider></md-menu-divider>-->

        </md-menu-content>
      </md-menu>
  </div>
</md-toolbar>
