<form role="form" ng-submit="userSignupCtrl.save()">
  <md-input-container>
  <label>Fullname</label>
  <input type="text" ng-model="userSignupCtrl.user.name">
</md-input-container>
<md-input-container>
  <label>email</label>
  <input type="email" ng-model="userSignupCtrl.user.email">
</md-input-container>
<md-input-container>
  <md-radio-group ng-model="userSignupCtrl.user.gender">
    <label>gender</label>
    <div layout="row">
      <md-radio-button value="female">Female</md-radio-button>
      <md-radio-button value="male">Male</md-radio-button>
    </div>
  </md-radio-group>
</md-input-container>
<md-input-container>
  <label>password</label>
  <input type="password" ng-model="userSignupCtrl.user.password">
</md-input-container>
<div layout layout-align="end center" layout-margin>
  <md-button class="md-primary md-raised" type="submit" aria-label="sign up">register your account</md-button>
</div>
<p>already have an account? <md-button ui-sref="login">login here</md-button> and start enjoying our service</p>
</form>
